# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/LaunchGame/v15/.suo
.vs/LaunchGame/v15/Browse.VC.db
.vs/LaunchGame/v15/ipch/7aed7eaaed71bb1.ipch
*.tlog
*.log
*.pdb
*.idb
*.ilk
*.pdb
*.log
*.tlog
*.idb
*.pdb
*.ilk
